# Data Cleaning Entron Dataset

Credit to user ankur561999 for this 
https://www.kaggle.com/ankur561999/data-cleaning-enron-email-dataset

In [3]:
# imports
import numpy as np
import pandas as pd

import multiprocessing
import seaborn as sns
import email
import matplotlib.pyplot as plt

In [ ]:
# file location
entron_email_dir = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/emails.csv"

In [ ]:
# load dataset
df = pd.read_csv(entron_email_dir)

In [ ]:
# data exploration
df.head()

In [ ]:
df.shape

In [ ]:
print(df.loc[1]['message'])

In [ ]:
message = df.loc[1]['message']
e = email.message_from_string(message)

e.items()

In [ ]:
e.get('Date')

In [ ]:
e.get_payload()

In [ ]:
# extracting headers

# now we add those fields into our 'df' dataframe
def get_field(field, messages):
    column = []
    for message in messages:
        e = email.message_from_string(message)
        column.append(e.get(field))
    return column

In [ ]:
df['date'] = get_field("Date", df['message'])
df['subject'] = get_field("Subject", df['message'])
df['X-Folder'] = get_field("X-Folder", df['message'])
df['X-From'] = get_field("X-From", df['message'])
df['X-To'] = get_field("X-To", df['message'])
df.head(3)

In [ ]:
# extract email body 
def body(messages):
    column = []
    for message in messages:
        e = email.message_from_string(message)
        column.append(e.get_payload())
    return column

df['body'] = body(df['message'])
df.head(3)

In [ ]:
# extract employee names
df['file'][:10]

In [ ]:
# Adding employee column

def employee(file):
    column = []
    for string in file:
        column.append(string.split("/")[0])
    return column

df['employee'] = employee(df['file'])
df.head(3)

In [ ]:
print("Number of folders: ", df.shape[0])
print("Number of unique folders: ", df['X-Folder'].unique().shape[0])

In [ ]:
unique_emails = pd.DataFrame(df['X-Folder'].value_counts())
unique_emails.reset_index(inplace=True)

unique_emails.columns = ['folder_name', 'count']
# top 20 folders
unique_emails.iloc[:20,:]

In [ ]:
# top 20 folders

plt.figure(figsize=(10,6))
sns.barplot(x='count', y='folder_name', data=unique_emails.iloc[:20, :], palette="Blues_d")
plt.title("Top 20 folders")
plt.xlabel("Count")
plt.ylabel("Folder_Name")
plt.show()

In [ ]:
# top 20 email senders
top_20 = pd.DataFrame(df['employee'].value_counts()[:20])
top_20.reset_index(inplace=True)
top_20.columns = ["Employee_name", "Counts"]
top_20

In [ ]:
# bar chart visualization of 20 highest email senders
plt.figure(figsize=(10,8))

sns.barplot(y="Employee_name", x="Counts", data=top_20, palette="Blues_d")
plt.title("Top 20 highest email sender employee")
plt.xlabel("Count")
plt.ylabel("Employee_name")
plt.show()

In [ ]:
import datetime
from dateutil import parser

# this is sample example
x = parser.parse("Fri, 4 May 2001 13:51:00 -0700 (PDT)")
print(x.strftime("%d-%m-%Y %H:%M:%S"))

In [ ]:
# reformatting the dates

def change_type(dates):
    column = []
    
    for date in dates:
        column.append(parser.parse(date).strftime("%d-%m-%Y %H:%M:%S"))
    return column

df['date'] = change_type(df['date'])
df.head(2)

In [ ]:
# splitting df["X-Folder"]
def preprocess_folder(folders):
    column = []
    for folder in folders:
        if (folder is None or folder == ""):
            column.append(np.nan)
        else:
            column.append(folder.split("\\")[-1].lower())
    return column

df['X-Folder'] = preprocess_folder(df['X-Folder'])
df.head(2)

In [ ]:
# count unique folders
print("Unique Folders: ", len(df['X-Folder'].unique()))

# view some of them
df['X-Folder'].unique()[0:20]

In [ ]:
# replace empty cells with NaN
def replace_empty_with_nan(subject):
    column = []
    for val in subject:
        if (val == ""):
            column.append(np.nan) 
        else:
            column.append(val)
    return column

In [ ]:
df['subject'] = replace_empty_with_nan(df['subject'])
df['X-To'] = replace_empty_with_nan(df['X-To'])

In [ ]:
df.isnull().sum()

In [ ]:
# calculate percentage of missing values
miss = df.isnull().sum()
miss = miss[miss>0]
miss = miss / df.shape[0]
miss

In [ ]:
# drop missing value rows
df.dropna(axis=0, inplace=True)
df.isnull().sum(), df.shape

In [ ]:
df.head(3)

In [ ]:
# dropping unneeded columns
cols_to_drop = ['file','message','employee']
df.drop(cols_to_drop, axis=1, inplace=True)
df.head()

In [ ]:
# save the data
df.to_csv("/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/CS4440_project/ML/RyanLe/Dataset/cleaned_data.csv", index=False)

In [ ]:
# splitting csv into a CSV with 50 columns
in_csv = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/CS4440_project/ML/RyanLe/Dataset/cleaned_data.csv"

#get the number of lines of the csv file to be read

number_lines = 50 

#size of rows of data to write to the csv, 
rowsize = 50
for i in range(1,number_lines,rowsize):
    df = pd.read_csv(in_csv,header=None, nrows = rowsize, skiprows = i) #skip rows that have been read
    out_csv = 'fifty_emails.csv'
    df.to_csv(out_csv, index=False, header=False,  mode='a', chunksize=rowsize)#size of data to append for each loop

## Data Proprocessing

In [3]:
# taken from https://www.kaggle.com/ankur561999/enron-email-classification-using-machine-learning

import matplotlib.pyplot as plt
import re
import string
import time
import pandas as pd
pd.set_option('display.max_rows', 50)

import numpy as np
import os

from nltk.corpus import stopwords

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import cross_validate

from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier

In [12]:
cleaned_dataset = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/cleaned_data.csv"

In [13]:
# loading pd, ignoring rid of first 50 rows
df = pd.read_csv(cleaned_dataset, skiprows=range(1, 51))
df.head()

,date,subject,X-Folder,X-From,X-To,body
0,25-08-2000 04:03:00,Re: regulatory filing summary,'sent mail,Phillip K Allen,Colleen Sullivan,"Colleen,\n\n Please add Mike Grigsby to the di..."
1,25-08-2000 01:58:00,Re: Evaluation for new trading application,'sent mail,Phillip K Allen,Bruce Ferrell,"Bruce,\n\nCan you stop by and set up my reuter..."
2,24-08-2000 02:48:00,Re: receipts,'sent mail,Phillip K Allen,"""Lucy Gonzalez"" <stagecoachmama@hotmail.com> @...","Lucy,\n I got your email with the attachment. ..."
3,23-08-2000 08:23:00,Re: ENA Fileplan Project - Needs your approval,'sent mail,Phillip K Allen,Ina Rangel,you have my approval
4,23-08-2000 07:09:00,Re: checkbook and budget,'sent mail,Phillip K Allen,"""Lucy Gonzalez"" <stagecoachmama@hotmail.com> @...","Lucy,\n\n We can discuss your email later. Ho..."

,date,X-Folder,X-From,X-To,text
0,25-08-2000 04:03:00,'sent mail,Phillip K Allen,Colleen Sullivan,regulatory filing summary colleen please add ...
1,25-08-2000 01:58:00,'sent mail,Phillip K Allen,Bruce Ferrell,evaluation new trading application bruce stop...
2,24-08-2000 02:48:00,'sent mail,Phillip K Allen,"""Lucy Gonzalez"" <stagecoachmama@hotmail.com> @...",receipts lucy got email attachment let work t...
3,23-08-2000 08:23:00,'sent mail,Phillip K Allen,Ina Rangel,ena fileplan project needs approval approval
4,23-08-2000 07:09:00,'sent mail,Phillip K Allen,"""Lucy Gonzalez"" <stagecoachmama@hotmail.com> @...",checkbook budget lucy discuss email later pro...

In [ ]:
df["X-Folder"].value_counts()

In [ ]:
# removing folders with less than n rows

def remove_folders(df, n):
    # returns the number of folders containing more than 'n' number of emails
    email_count = dict(df['X-Folder'].value_counts())
    small_folders = []
    for key, val in email_count.items():
        if val <= n:
            small_folders.append(key)
    emails = df.loc[~df['X-Folder'].isin(small_folders)]
    return emails

In [ ]:
n = 150
df = remove_folders(df, n)
df.shape

In [ ]:
#  combining subject and body columns

df['text'] = df['subject'] + " " + df['body']
df.drop(["body", "subject"], axis = 1, inplace=True)
df.head
df.columns

In [ ]:
# removing uppercase words, spaces, punctuation
def preprocess(x):
    # lowercasing all the words
    x = x.lower()
    
    # remove extra new lines
    x = re.sub(r'\n+', ' ', x)
    
    # removing (replacing with empty spaces actually) all the punctuations
    x = re.sub("["+string.punctuation+"]", " ", x)
    
    # remove extra white spaces
    x = re.sub(r'\s+', ' ', x)
    return x

In [ ]:
def remove_stopwords(x):
    stop = stopwords.words('english')
    new = ""
    for word in x.split():
        if word not in stop:
            new+= " " + word
    return new

In [ ]:
#stop = stopwords.words('english')

df.loc[:,'text'] = df.loc[:, 'text'].map(preprocess)

# remove stopwords
df.loc[:, 'text'] = df.loc[:, 'text'].apply(remove_stopwords)

In [ ]:
df["text"][:10]

In [ ]:
# finding x-folders that correspond to personal 
for key,val in df["X-Folder"].value_counts().items():
    print("{}: {}".format(key,val))

In [ ]:
# saving larger file, containing 400k rows
df.to_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed.csv', index = False)

## Creating personal/ professional dataset

In [5]:
df = pd.read_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed.csv')

In [6]:
# splitting into personal / professional dataset
personal_words = ["personal", "attachments", "misc"] 
professional_words = ["recruiting", "corporate", "resume", "interview", "logistics", "management", "resumes", "projects", "interviews", "conferences"]

In [7]:
personal_df = df[df["X-Folder"].isin(personal_words)]
personal_df.shape

(4672, 5)

In [15]:
personal_df.iloc[:10]

,date,X-Folder,X-From,X-To,text
4622,13-12-2000 08:56:00,personal,"""Dell Computer Corp."" <LB_Electronic_Orders@de...","""jennifer.medcalf@enron.com"" <jennifer.medcalf...",dell order confirmation dear jennifer medcalf...
4623,14-12-2000 04:55:00,personal,James Wininger,Jennifer Medcalf,brown bag thank dear jennifer thank hosting b...
4624,14-12-2000 04:58:00,personal,Jerome_Alder@Dell.com,jennifer.medcalf@enron.com,dell online order dell enron clickathome orde...
4625,14-12-2000 05:22:00,personal,Colleen Koenig,Jennifer Medcalf,update attendees brown bags 12 13 12 14 notic...
4626,15-12-2000 00:32:00,personal,Jennifer N Stewart,Jennifer Medcalf,confirmation order 3253472 hope well forwarde...
13201,12-01-2002 18:11:45,personal,reservations@sixcontinentshotels.com,"Bass, Eric </O=ENRON/OU=NA/CN=RECIPIENTS/CN=EB...",reservation confirmation thank choosing crown...
13202,14-11-2000 08:45:00,personal,"""Bass, Jason"" <Jason.Bass2@COMPAQ.com>","""Donnita (E-mail)"" <dfranklin@hanovermeasureme...",new work number 281 927 1586 immediately get ...
13203,31-10-2000 16:39:00,personal,Gwendolyn Gray,Don Black,final associate analyst 2000 prc black prc re...
13204,30-10-2000 01:58:00,personal,"""K. Bass"" <daphneco64@bigplanet.com>",Eric Bass <Eric.Bass@enron.com>,aspen ridge hi e sure good see yesterday stay...
13205,19-09-2000 01:37:00,personal,"""The EnronOnline Games - FREE Registration"" <r...","""Eric Bass"" <ebass@enron.com>",welcome enrononline games welcome enrononline...

In [41]:
df[df['date'] == "12-01-2002 18:11:45"] #13566
df.iloc[13566]["body"]

"Thank you for choosing Crowne Plaza for your travel needs.\n\nYour confirmation number is 66679657.\nPlease use this number to reference your reservation.\n\nGuest Name:          BASS/ERIC\nHotel:               TIMES SQUARE MANHATTAN, NY\n                     1605 Broadway\n                     MANHATTAN, NY 10019 UNITED STATES\nTelephone Number:    1800 2436969\n\nDriving Directions:  N/A\n\nArrival Date:        FEB 28, 2002\nNumber of Nights:    2\nNumber of Rooms:     1\nRoom Type:           King Leisure Nonsmoking\nRate Type:           Great Getaways \nArrival Rate:        199.95 USD*, per night plus tax**, per room.\n\nRate Change:         209.95 USD.  Effective:  Friday, Saturday\nCheck in Time:       3PM\nCheck out Time:      12PM\nGratuity:            EXCLUDES GRATUITY\nTax:                 13.25% per night and 2.00 USD not included in rate effective February 28, 2002 thru March 2, 2002\nModify or Cancel by: If you need to cancel your reservation, please do so before 6:00PM on February 27, 2002 or your credit card will be billed for the first night.\n\n\nTo confirm, modify or cancel your reservation (if your rate allows), please visit http://www.sixcontinentshotels.com/crowneplaza?_template=modify_retrieve.html. Should you have any questions regarding your reservation, please contact the hotel directly or your nearest reservation office listed at http://www.sixcontinentshotels.com/sixcontinentshotels?_template=resoffice.html.\n\nDream a Million dreams! Now through 01/05/2002 each stay booked online at http://www.sixcontinentshotels.com/priorityclub could win you 1,000,000 Priority Club points.*\n\n* Dream a Million Dreams Sweepstakes: No purchase or hotel stay necessary. Open to residents of US and Canada who, as of date of reservation, are Priority Club members, 21 or older. Void in the Province of Quebec and where prohibited. Sweepstakes ends 11:59 PM 01/05/02. \nVisit http://www.sixcontinentshotels.com/priorityclub/milliondreams for full official rules.\n\nIf you are interested in receiving periodic emails with promotional offers from Six Continents Hotels hotel brands, please visit http://www.0mm.com/sch/sch-new.html\n\nPlease Note:\nOnly the reservation as entered into and confirmed by our system will be honored.  Any written or printed confirmation that has been altered may be rejected by the hotel.\n\n*  As exchange rates may fluctuate from the time a reservation is made until the actual stay, the confirmed rate is guaranteed in the hotel's base currency.\n\n** In the United States, most rates exclude applicable taxes and service charges. In many other destinations, such extras are included in the rate shown. Taxes and other charges will be displayed next to the rate above when applicable.\n\nHave a safe and pleasant trip!"

In [8]:
professional_df = df[df["X-Folder"].isin(professional_words)]
professional_df.shape

(4018, 5)

In [10]:
# creating equal distribution of personal/professional data 
def make_equal(df1, df2):
    remove_n = df2.shape[0] - df1.shape[0]
    if remove_n > 0:
        # more in professional / df2
        drop_indices = np.random.choice(df2.index, remove_n, replace=False)
        df2 = df2.drop(drop_indices)
    else if remove_n < 0:
        drop_indices = np.random.choice(df1.index, -remove_n, replace=False)
        df1 = df1.drop(drop_indices)
    return df1, df2

In [ ]:
personal_df, professional_df = make_equal(personal_df, professional_df)

In [10]:
# changing rows to "personal"
personal_df = personal_df.replace(personal_words, "Personal")

In [11]:
# changing rows to "professional"
professional_df = professional_df.replace(professional_words, "Professional")

In [12]:
# combining files 
combined_df = pd.concat([personal_df, professional_df])

In [14]:
combined_df.head()
combined_df.shape

(8036, 5)

In [15]:
# saving as new file 
combined_df.to_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/professional_personal.csv', index=False)

In [ ]:
# splitting proprocessed.csv into smaller CSVs for Github push

preprocessed = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed.csv"
df_preprocessed = pd.read_csv(preprocessed)

In [ ]:
df_preprocessed.head()

In [ ]:
# splitting df into n smaller df

number_lines = df_preprocessed.shape[0] 
rowsize = int(number_lines / 25) 
cols = list(df_preprocessed.columns)
counter = 1
for i in range(1,number_lines,rowsize):
    new = pd.read_csv(preprocessed, nrows = rowsize, skiprows = i) #skip rows that have been read
    out_csv = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/CS4440_project/ML/RyanLe/Datasets/Preprocessed/preprocessed_{}.csv".format(counter)
    counter += 1
    new.to_csv(out_csv, index=False, header=cols,  mode='a', chunksize=rowsize)#size of data to append for each loop

In [ ]:
first = pd.read_csv("preprocessed_1.csv")
first.head()

In [ ]:
second = pd.read_csv("preprocessed_2.csv")
second.head()

## Creating second personal / professional dataset

In [ ]:
df = pd.read_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed.csv')

In [ ]:
# splitting into personal / professional dataset
personal_words = ["personal"] 
professional_words = ["recruiting", "corporate", "resume", "interview", "logistics", "management", "resumes", "projects", "interviews", "conferences"]

In [ ]:
personal_df = df[df["X-Folder"].isin(personal_words)]
personal_df.shape

In [ ]:
professional_df = df[df["X-Folder"].isin(professional_words)]
professional_df.shape

In [ ]:
personal_df, professional_df = make_equal(personal_df, professional_df)

In [ ]:
# changing rows to "personal"
personal_df = personal_df.replace(personal_words, "Personal")

In [ ]:
# changing rows to "professional"
professional_df = professional_df.replace(professional_words, "Professional")

In [ ]:
# combining files 
combined_df = pd.concat([personal_df, professional_df])

In [ ]:
combined_df.head()
combined_df.shape

In [ ]:
# saving as new file 
combined_df.to_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/professional_personal_v2.csv', index=False)

## Creating reply/ no reply dataset

In [17]:
df2 = pd.read_csv(cleaned_dataset)

NameError: name 'cleaned_dataset' is not defined

In [ ]:
n = 150
df2 = remove_folders(df2, n)
df2.shape

In [ ]:
#  combining subject and body columns

df2['text'] = df2['subject'] + " " + df2['body']
df2.drop(["body", "subject"], axis = 1, inplace=True)
df2.head
df2.columns

In [ ]:
# removing uppercase words, spaces, punctuation
def preprocess(x):
    # lowercasing all the words
    x = x.lower()
    
    # remove extra new lines
    x = re.sub(r'\n+', ' ', x)
    punc = string.punctuation.replace("?","")
    # removing (replacing with empty spaces actually) all the punctuations
    x = re.sub("["+punc+"]", " ", x)
    
    # remove extra white spaces
    x = re.sub(r'\s+', ' ', x)
    return x

In [ ]:
# removing stopwords
def remove_stopwords(x):   
    stop = stopwords.words('english')
    stop.remove("what")
    stop.remove("about")
    stop.remove("should")
    new = ""
    for word in x.split():
        if word not in stop:
            new+= " " + word
    return new

In [ ]:
#stop = stopwords.words('english')

df2.loc[:,'text'] = df2.loc[:, 'text'].map(preprocess)

# remove stopwords
df2.loc[:, 'text'] = df2.loc[:, 'text'].apply(remove_stopwords)

In [ ]:
# saving larger file, containing 400k rows
df2.to_csv('/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed2.csv', index = False)

In [ ]:
# splitting proprocessed.csv into smaller CSVs for Github push

preprocessed2 = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/Dataset/preprocessed2.csv"

In [ ]:
# splitting df into n smaller csvs

number_lines = df2.shape[0] 
rowsize = int(number_lines / 25) 
cols = list(df2.columns)
counter = 1
for i in range(1,number_lines,rowsize):
    new = pd.read_csv(preprocessed2, nrows = rowsize, skiprows = i) #skip rows that have been read
    out_csv = "/Users/ryanle/Desktop/GTSpring2021/CS4440/Project/CS4440_project/ML/RyanLe/Datasets/Preprocessed/preprocessed_{}.csv".format(counter)
    counter += 1
    new.to_csv(out_csv, index=False, header=cols,  mode='a', chunksize=rowsize)#size of data to append for each loop